<h1 class="main-title">Your to-do list</h1>
<section class="todolist">
    {{#each tasks}}
        <div class="task">
            <p class="description">{{this._description}}</p>
            {{#if this._status}}
            <p class="change done" data-id="{{this._id}}">done</p>
            {{else}}
            <p class="change" data-id="{{this._id}}">not done</p>
            {{/if}}
            <p class="delete" data-id="{{this._id}}">delete</p>
            <p class="edit" data-id="{{this._id}}">edit description</p>
        </div>
    {{/each}}
</section>
<section class="add-new-task">
    <textarea rows="1" placeholder="task description"></textarea>
    <button class="add-new-task-button">Add a new task to your list</button>
</section>